.article {
  .title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
  }

  .text {
    p {
      text-indent: 1em;
      text-align: justify;
      margin-bottom: 10px;
    }
  }

  footer {
    color: #999;
  }
}

.article-form {
  margin-top: 20px;
}
